<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>3B4A96DB-2A35-4920-8766-82635A216FEA</string>
			<string>------------------------------------</string>
			<string>7DC1A597-3AC0-44B6-BF88-909356150DD8</string>
			<string>73B15DFE-6A54-4DEB-8384-F8F75136F32E</string>
			<string>------------------------------------</string>
			<string>DC6CD2EB-10F0-46B7-83F8-2D7DD44AF87C</string>
			<string>------------------------------------</string>
			<string>EDDF00DC-E6F8-4825-9899-8DED4FF2DE2C</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>3B4A96DB-2A35-4920-8766-82635A216FEA</key>
			<dict>
				<key>items</key>
				<array>
					<string>------------------------------------</string>
					<string>F209F473-35F3-419F-9DEA-12ECB5D7E0C3</string>
					<string>1F0CE9D6-8FA7-4146-8E2B-C74CB942589E</string>
					<string>8941521B-3130-4ED0-95E0-F0F10281FAE3</string>
					<string>25763A3B-020C-4ACE-B51D-6BD660351584</string>
				</array>
				<key>name</key>
				<string>Formatting</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Clock</string>
	<key>ordering</key>
	<array>
		<string>EDDF00DC-E6F8-4825-9899-8DED4FF2DE2C</string>
		<string>F209F473-35F3-419F-9DEA-12ECB5D7E0C3</string>
		<string>7DC1A597-3AC0-44B6-BF88-909356150DD8</string>
		<string>73B15DFE-6A54-4DEB-8384-F8F75136F32E</string>
		<string>DC6CD2EB-10F0-46B7-83F8-2D7DD44AF87C</string>
		<string>1F0CE9D6-8FA7-4146-8E2B-C74CB942589E</string>
		<string>25763A3B-020C-4ACE-B51D-6BD660351584</string>
		<string>8941521B-3130-4ED0-95E0-F0F10281FAE3</string>
	</array>
	<key>uuid</key>
	<string>096032EF-3139-4E4F-9131-500552837078</string>
</dict>
</plist>
